@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    zoom: 1.5;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #010c20;
    color: rgba(255, 255, 255, 0.605);
    padding: 10px;
}

.container {
    max-width: 1850px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    background-color: #010c20;
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.605);
    width: 90%;
    padding: 10px;
    margin: 20px;
    border: 1px solid rgba(255, 255, 255, 0.605);
    border-radius: 30px;
    resize: none;
    height: 400px;
}

.buttons-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    margin-bottom: 40px;
}

.btn-adicionar {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.605);
    color: #010c20;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-adicionar:hover {
    background-color: #84b5ff;
}

.info-div {
    background-color: #02112e;
    border-radius: 20px;
    padding: 20px;
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.605);
    width: calc(100%);
    text-align: center;
}

.info-div2 {
    background-color: #02112e;
    border-radius: 20px;
    padding: 20px;
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.605);
    width: calc(100%);
    text-align: center;
}



.info-container-duplo,
.info-container {
    display: flex;
    flex-direction: line;
    justify-content: space-around;
    gap: 40px;
    width: 60%;
}

/* Estilo para o botão de Voltar à Homepage */
.btn-voltar {
    position: fixed;
    bottom: 10px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #414e68;
    color: rgba(255, 255, 255, 0.605);
    border: 2px solid #84b5ff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn-voltar:hover {
    background-color: rgba(0, 87, 179, 0.908);
}

.pop-up {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0056b3;
    color: rgba(255, 255, 255, 0.605);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.pop-up.active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.containerLeadAutomatico {
    max-width: 600px;
    margin: auto;
    background: #02112e;
    padding: 0px;
    border-radius: 8px;
}

button {
    padding: 10px 180px;
    background-color: rgba(255, 255, 255, 0.605);
    color: #02112e;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #84b5ff;
}

.resultado {
    background-color: #02112e;
    border: 0px solid #02112e;
    border-radius: 10px;
    white-space: pre-wrap;
    border: 0px solid #02112e;
    padding: 20px 0px 0px 0px;
    border-radius: 10px;
    height: 165px;
    align-items: center;
    text-align: center;
}


/* Estilo para o container de informações adicionais */
/* AQUI DA PRA MEXER NA CAIXA AZUL ESCURA QUE VAI OS DADOS DO ECONODATA*/
.info-adicional {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    max-width: 500px;
    background: #02112e;
    width: 100%;
    white-space: pre-wrap;
    max-height: 230px;
    /*height: 240px;*/
}

@media (max-width: 768px) {
    .info-principal {
        flex-direction: column;
        align-items: center;
    }
}

.info-principal {
    display: flex;
    justify-content: space-between;
    /* Este valor tentará maximizar o espaço entre os itens, mas mantê-los na mesma linha */
    flex-wrap: wrap;
    /* Permite que os itens se ajustem conforme necessário */
    gap: 120px;

    /* Ajusta o espaço entre os itens */
    padding: 0 0px 50px;
    /* Adiciona um pouco de padding nas laterais para evitar que os itens toquem as bordas */
}